<% layout("/layouts/boilerplate") %>
<script>
  let accessToken = "<%= process.env.MAP_TOKEN %>";
  let coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>
</script>
<body>
  <div class="row col-12" style="margin-left: .4rem;">
    <div class="mb-2 offset-sm-1 offset-md-2">
      <h3 style="display: inline; font-size: 2vmax; width: 80vw;">
        <%= listing.title %> &nbsp;<a href="/listings"
          ><i class="fa-solid fa-chevron-left back-to-home"></i
        ></a>
      </h3>
    </div>

    <div class="card listing-card col-sm-12 col-md-9 show-card offset-md-1">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top show-image offset-0"
        alt="listing_image"
      style="width:90% !important;margin-left: 3vw;"
      />
      <div class="card-body min-width">
        <p class="card-text"><b>User : </b> <%= listing.owner.username %></p>
        <p class="card-text">
          <b>Description : </b> <%= listing.description %>
        </p>
        <p>
          Price : &nbsp; &#8377; <%= listing.price ?
          listing.price.toLocaleString("en-IN") : "Error" %>
          <br />
          Location : <%= listing.location %>
          <br />
          Country : <%= listing.country %>
        </p>
      </div>
    </div>

    <div class="row">
      <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
      <form
        action="/listings/<%= listing._id %>?_method=DELETE"
        method="POST"
        class="mb-5 offset-1"
      >
        <a
          href="/listings/<%= listing._id %>/edit"
          class="text-dark"
          style="text-decoration: none;"
          ><button
            type="button"
            class="btn bg-white edit-btn col-md-4 col-sm-8"
          >
            Edit
          </button></a
        >
        <button class="btn text-white delete-btn col-md-4 offset-md-1 col-sm-8">
          Delete
        </button>
      </form>
      <% } %>
    </div>
  </div>

  <!-- ////rating section -->

  <% if (currUser) { %>

  <div class="col-10 offset-1 mb-3">
    <h4>Leave a Review</h4>
    <form
      class="needs-validation"
      novalidate
      method="post"
      action="/listings/<%= listing._id %>/reviews"
    >
      <div class="mb-3 mt-3">
        <label for="review[rating]" class="form-label">Rating</label>
        <fieldset class="starability-basic">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <br />
        <label for="comment" class="form-label">Comment</label>
        <textarea
          name="review[comment]"
          placeholder="Write your comment here "
          cols="30"
          rows="6"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please write a review</div>
      </div>
      <br />
      <button class="btn text-white delete-btn col-sm-2">Submit</button>
    </form>
  </div>
  <hr />
  <% } %> <% if (listing.reviews.length > 0) { %>
  <!-- ////rating section -->
  <div class="offset-md-1 mb-3 row">
    <p><b>All Reviews</b></p>
    <% for (let review of listing.reviews) { %> <% if (!review) { %>
    <p>No items found.</p>
    <% } else { %>
    <div class="card col-md-5 col-10 offset-1 ms-md-3 mb-3">
      <div class="card-body">
        <h6 class="card-title">
          <i class="fa-solid fa-user"></i> &nbsp;@ <%= review.author.username %>
          <p
            class="offset-9 text-secondary"
            style="font-size: 0.8rem; margin-top: -1.2rem; width: max-content"
          >
            <%= review.createdAt %>
          </p>
        </h6>
        <p class="card-text"><%= review.comment %></p>
        <p class="starability-result" data-rating="<%= review.rating %>"></p>
      </div>
      <% if (currUser && currUser._id.equals(review.author._id)) { %>
      <form
        method="post"
        action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
      >
        <button class="btn btn-dark text-white col-sm-2 mb-3 ms-3">
          delete
        </button>
      </form>
      <% } %>
    </div>
    <% } %> <% } %>
  </div>
  <% } %>

  <div class="offset-sm-0 mb-3 offset-1 ms-md-5 row">
    <h3>Where you'll be</h3>

    <div id="map" class="-1" style="margin-left: -1rem"></div>
    <div class="map-overlay top">
      <div class="map-overlay-inner">
        <fieldset class="select-fieldset">
          <label>Select light preset</label>
          <div class="mb-4 col-md-4 col-4 mt-1">
            <select id="lightPreset" class="form-select" name="lightPreset">
              <!-- Each value matches a light preset -->
              <option value="day" selected="">Day</option>
              <option value="dawn">Dawn</option>
              <option value="dusk">Dusk</option>
              <option value="night">Night</option>
            </select>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</body>

<script src="/js/map.js"></script>
